.employee-management {
  text-align: center;
}

.choice-button {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: #f19c79; /* button background color */
  color: white; /* button text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.choice-button:hover {
  background-color: #a44a3f; /* background color on hover */
}

.choice-button:active {
  background-color: #a44a3f; /* background color on click */
}

.main-menu-button {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: #f19c79; /* button background color */
  color: white; /* button text color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.main-menu-button:hover {
  background-color: #a44a3f;
}

.main-menu-button:active {
  background-color: #a44a3f;
}
